
.timeline {
 
  place-self: center;
  justify-content: center;
  max-width: 50em;
  display: grid;
  gap: 2em;
}

.timeline__article {
 
  --size: .625em;
 
  --highlight: #88d55e;
 
  --marker: 
    radial-gradient(circle closest-side, 
        var(--highlight) calc(100% - 1px), transparent) 
      0 0/ 100% var(--size);
 
  display: grid;
  grid-gap: 2em;
 
  grid-template-columns: 1fr 1fr;
 
  margin-top: -1px;
  background: 
   
    var(--marker), 
   
    linear-gradient(var(--highlight) 0 0) 50%/ 2px;
  background-repeat: no-repeat;
}


.timeline__article:first-child {
  --marker: 
    linear-gradient(var(--highlight) 0 0) 
      50% 0/ var(--size) calc(.5*var(--size))
}


.timeline__article:nth-child(odd) {			
  img {
   
    grid-area: 1/ 1;
   
    justify-self: end;
  }
}


.timeline__article:not(:last-child) { 
  padding-bottom: 1em; 
}


.timeline__article > * { 
  border-radius: var(--size); 
}

.timeline__content {
  padding: 1em;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 0.625em;
}

.timeline__content h1 {
  margin: 0 0 var(--size, 0.625em);
  color: #88d55e;
  font: italic 1.375em/1 sans-serif;
  text-transform: capitalize;
}

.timeline__content time { 
  font: 700 2.5em/ 1.25 monospace; 
  display: block;
  margin-bottom: 0.5em;
}

.timeline__content hr { 
  opacity: .3; 
  margin: 1em 0;
  border: none;
  border-top: 1px solid currentColor;
}

.timeline__content p {
  margin: 0;
  padding-top: .5em;
  font: 1em sans-serif;
  line-height: 1.5;
}

.timeline img {
  box-sizing: border-box;
  border: solid 2px;
  width: min(100%, 13em);
  aspect-ratio: 1.3;
  object-fit: cover;
  border-radius: 0.625em;
}